<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename = 'Bootstrap.css') }}">
    <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename = 'style1.css') }}">
    <script src="/static/utils.js"></script>
  </head>
<body>
  <h1 id="t"> StoichiometryFitter</h1>
  <hr>
  <div class="all-content">
    <form action="" method="post" onSubmit="saveAll()">
    <!-- ElementListControl -->
    <div id="box1">
      <div id="content"> 
        {% block content %}
        {% endblock %}
      </div>
    </div>
    
    <div id="box2">
      <div id="content">
        {% block content2 %}
        {% endblock %}
      </div>
      <p>Name:</p>
      <p><input type="reset" value="Reset"></p>
      <p><input type="submit" name="GO" id="GO" value= "Go!"></p>
    </div>

    <div id="box3">
      <div id="content">
        <h2>Result:</h2>
        {% block content3 %}
        {% endblock %}
      </div>
    </div>

    <div id="graphics">
      <div id="content">
        <h2>Graphics:</h2>
      </div>
    </div>
    </form>
  </div>

  <!-- Use SessionStorage to store all the input at the end. -->
  <script src="/static/sessionStorage.js"></script>
</body>
</html>