{% extends "base.html" %}
{% block title %} 谭大狗 {% endblock %}

{% block content %}
<script>
  // Check InputType.  
  if (localStorage.getItem("inputType") != null) {
      var inputType = localStorage.getItem("inputType");
  } else {
      // This is the default value of inputType.
      var inputType = "Counts";
  }
</script>

<script language="javascript" type="text/javascript">
  // Create Element table.
  document.write("<table>");
  document.write("<form>");
  document.write("<tr>");
  document.write("<th>Element</th> <th id= \"abcde\">"+ inputType +"</th> <th>Charge</th>");
  document.write("</tr>");
  for (var a=0; a < element2.length; a++) {
    document.write("<tr>");
    document.write("<td><label for=" + "name" + ">" + element2[a]+ "</label></td>");
    document.write("<td><input type= \"number\" id = \"" + element2[a] + "1\"" +  " name= \"" + element2[a] + "1" +"\" value=\"0\" /></td>");
    document.write("<td><input type= \"number\" id = \"" + element2[a] + "2\"" +  " name= \"" + element2[a] + "2" +"\" value= \"" + Stoich[a] + "\"/></td>");
    document.write("</tr>");
  }
  document.write("</form>");
  document.write("</table>");
</script>
{% endblock %}


{% block content2 %}
<!-- Phase Analysis SelectBox -->
<div>
  <label for="phaseAnalysis">
      Phase Analysis: 
      <br>
      <input type="checkbox" id="phaseAnalysis" name="phaseAnalysis"> 
      <select name="phase" id="phase">
        <option value="Feldspar">Feldspar</option>
        <option value="QMin Algorithm">QMin Algorithm</option>
        <option value="Sulfide">Sulfide</option>
        <option value="Mole Fractions">Mole Fractions</option>
        <option value="Carbon">Carbon</option>
        <option value="Bulk Composition">Bulk Composition</option>
        <option value="Spinel">Spinel</option>
        <option value="Pyroxene ideal">Pyroxene ideal</option>
        <option value="Serpentine">Serpentine</option>
        <option value="Sheet Silicate Ternary">Sheet Silicate Ternary</option>
        <option value="Feldspathoid">Feldspathoid</option>
        <option value="GEMS Comparison">GEMS Comparison</option>
        <option value="Olivine">Olivine</option>
      </select>
  </label>
</div>

<!-- Arbitrary Absorption SelectBox -->
<div>
  <label for="arbitraryAnalysis">Arbitrary Absorption:
    <br>
    <input type="checkbox" id="arbitraryAnalysis" name="arbitraryAnalysis">
    <select name="arbitrary" id="arbitrary">
      <option value="Titan Detector Window">Titan Detector Window</option>
    </select>
  </label>
</div>

<!-- TEM Thickness Correction -->
<div>
    <label for="TEM">TEM Thickness Correction</label>
    <br>
    <input type="checkbox" id="TEM" name="TEM">
    <input name="density" id="density" type="number" value="0">
    <label for="cars">g/cm3 * nm</label>
    <input type="number" id="degree" name = "degree" value="18">
    <label for="cars">takeoff in deg</label>
</div>

<!-- Apply k-factor -->
<div>
    <label for="k-factor">Apply k-factor for
      <br>
      <input type="checkbox" id="k-factor" name="k-factor">
      <select name="k-value" id="k-value">
          <option value="Titan 60 keV">Titan 60 keV</option>
          <option value="Titan 80 keV manual O">Titan 80 keV manual O</option>
          <option value="CM200 200 keV">CM200 200 keV</option>
          <option value="Titan 200 keV">Titan 200 keV</option>
          <option value="Titan 80 keV">Titan 80 keV</option>
          <option value="Titan 300 keV">Titan 300 keV</option>
      </select>
    </label>
</div>

<!-- Stoichiometry? -->
<div>
    <label for="oxygen">Oxygen by Stoichiometry?
    <br>
    <input type="checkbox" id="oxygen" name="oxygen" checked>
    <select name="k-value2" id="k-value2">
        <option value="Silicates">Silicates</option>
      </select>
    </label>
</div>

<!-- InputType Selection -->
<div>
  <label for="IType"> Input Type:</label>
  <br>
  <input type="radio" id="Counts" name="IType" value="Counts" checked onclick="Countsss();">
  <label for="Counts">Counts</label><br>
  <input type="radio" id="At" name="IType" value="At %" onclick="Att();">
  <label for="At">At %</label><br>
  <input type="radio" id="Weight" name="IType" value="Wt %" onclick="Wt();">
  <label for="Weight">Wt %</label><br>
  <input type="radio" id="Ox" name="IType" value="Ox Wt %" onclick="OxWt();">
  <label for="Ox">Ox Wt %</label>
</div>
{% endblock %}



